@charset "UTF-8";

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@supports (-ms-ime-align:auto) {
    html,
    body {
        font-size: 20px;
    }
}

body {
    height: 100%;
    width: 100%;
    background: #000;
    font-family: 'Share Tech Mono', monospace;
    -webkit-transition: all 1s;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3.75rem;
}

.bio {
    min-height: 600px;
    width: 35%;
    padding: 3.125rem 2.5rem;
    background: transparent;
}

.bio__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.125rem;
    padding-bottom: 3.75rem;
}

.bio__avatar {
    display: flex;
    justify-content: center;
    padding-right: 2.5rem;
}

.avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.bio__name {
    display: flex;
    justify-content: center;
    text-align: center;
}

.name {
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1em;
    /*-webkit-animation: blink 1s infinite steps(1, start);
    animation: blink 1s infinite steps(1, start)*/
}

@-webkit-keyframes blink {
    0%,
    to {
        background-color: #111;
        color: #f48020
    }
    50% {
        background-color: #f48020;
        color: #111
    }
}

@keyframes blink {
    0%,
    to {
        background-color: #111;
        color: #f48020
    }
    50% {
        background-color: #f48020;
        color: #111
    }
}

.bio__contact {
    display: flex;
    justify-content: center;
    font-size: 0.930em;
    color: #bac0c4;
    width: 100%;
}

.bio__contact__methods {
    list-style-type: none;
    text-align: right;
    color: grey;
}

.bio__contact__methods__item {
    padding-top: 0.625rem;
}

.bio__contact__info {}

.bio__contact__info__item {
    padding-top: 0.625rem;
}

.bio__education {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    font-size: 0.938em;
    text-align: center;
    color: rgb(186, 192, 196);
}

.bio__education span {
    font-weight: 300;
}

.btn--green {
	font-size: 14px;
	background-color: #44d62c;
	border-left: solid 2px #0f0;
	border-top: 0 none;
	border-bottom: 0 none;
	border-right: 0 none;
	color: #000;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 1px;
	line-height: 38px;
	margin: 0;
	min-width: 120px;
	outline: 0;
	position: relative;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0.1875rem;
	background-clip: padding-box;
	-webkit-transition: color .45s,background .45s,border .45s;
	-moz-transition: color .45s,background .45s,border .45s;
	transition: color .45s,background .45s,border .45s
}

#social__btns {
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    padding-bottom: 0.938em;
}

#social__btns .btn {
    clear: both;
    white-space: nowrap;
    font-size: 0.85em;
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
}

#social__btns .btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

#social__btns .btn>span,
.btn-icon>i {
    float: left;
    padding: 0.8125rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    line-height: 1em;
}

.btn>span {
    padding: 1rem 1.125rem 1rem;
    white-space: nowrap;
    color: #FFF;
    background: #b8b8b8;
}

.btn:hover>span {
    background: #b8b8b8;
    cursor: pointer;
}

.btn:focus>span {
    background: #9a9a9a;
}

.btn-icon>i {
    border-radius: 5px 0 0 5px;
    position: relative;
    width: 0.8125rem;
    text-align: center;
    font-size: 1.45em;
    color: #ccc;
    cursor: pointer;
    background: #333333;
}

.btn-icon>i:after {
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #333333;
    position: absolute;
    top: 0.8125rem;
    right: -1rem;
}

.btn-icon:hover>i,
.btn-icon:focus>i {
    color: #ccc
}

.btn-icon>span {
    width: 90px;
    height: 2.625rem;
    border-radius: 0 5px 5px 0
}

#social__btns .btn-icon>i {
    width: 2.4375rem;
    height: 2.625rem;
}

.btn-github:hover>i,
.btn-github:focus>i {
    color: #781188
}

.btn-github>span {
    background: #781188
}

.btn-linkedin:hover>i,
.btn-linkedin:focus>i {
    color: #007bb6
}

.btn-linkedin>span {
    background: #007bb6
}

.resume {
    background: #222;
    width: 50%;
    padding: 3.125rem 3% 3.125rem 3%;
    color: #bac0c4;
    font-weight: 300;
    border: 1px solid #444;
    border-radius: .1875rem;
}

.job {
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
}

.job__info {
    font-size: 0.938em;
    font-weight: 400;
    width: 40%;
}

.xp {
    color: #44d62c;
    font-weight: 400;
    font-size: 1.5em;
}

.company {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ccc;
    font-weight: 300;
    font-size: 1em;
}

.location {
    margin-bottom: 0;
    margin-top: 0;
}

.date {
    margin-top: 0;
    margin-bottom: 0;
}

.location,
.date {
    font-size: 1em;
}

.job__duties {
    width: 50%;
}

.title {
    margin-top: 56px;
    color: #ccc;
    font-weight: 300;
    font-size: 0.938em;
    margin-bottom: 10px;
}

.job__duties__list {
    font-size: 1em;
    margin-top: 0;
}

.stats {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.stats__container {
    border-radius: 3px;
    position: relative;
    width: 40%;
}

.stats__container h2 {
    color: #44d62c;
    font-weight: 400;
    font-size: 1.5em;
}

.stats__bar {
    padding-left: 1.25rem;
}

.stats__bar__percentage {
    margin-bottom: 0.625rem;
    position: relative;
}

.stats__bar__percentage::after {
    content: "";
    width: 100%;
    height: 6px;
    background: #4a4e51;
    display: block;
    margin-top: 3px;
    border-radius: 3px;
}

.stats__bar__percentage::before {
    content: "";
    height: 6px;
    background: #44d62c;
    position: absolute;
    margin-top: 3px;
    bottom: 0;
    border-radius: 3px;
}

.stats__container .stats__bar__percentage:nth-child(1)::before {
    width: 80%;
    -webkit-animation: stat_1 2.0s ease;
    animation: stat_1 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(2)::before {
    width: 80%;
    -webkit-animation: stat_2 2.0s ease;
    animation: stat_2 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(3)::before {
    width: 75%;
    -webkit-animation: stat_3 2.0s ease;
    animation: stat_3 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(4)::before {
    width: 68%;
    -webkit-animation: stat_4 2.0s ease;
    animation: stat_4 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(5)::before {
    width: 50%;
    -webkit-animation: stat_5 2.0s ease;
    animation: stat_5 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(6)::before {
    width: 40%;
    -webkit-animation: stat_6 2.0s ease;
    animation: stat_6 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(7)::before {
    width: 100%;
    -webkit-animation: stat_7 2.0s ease;
    animation: stat_7 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(8)::before {
    width: 80%;
    -webkit-animation: stat_8 2.0s ease;
    animation: stat_8 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(9)::before {
    width: 95%;
    -webkit-animation: stat_9 2.0s ease;
    animation: stat_9 2.0s ease;
}

.stats__container .stats__bar__percentage:nth-child(10)::before {
    width: 100%;
    -webkit-animation: stat_10 2.0s ease;
    animation: stat_10 2.0s ease;
}

@-webkit-keyframes stat_1 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes stat_1 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@-webkit-keyframes stat_2 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes stat_2 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@-webkit-keyframes stat_3 {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

@keyframes stat_3 {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

@-webkit-keyframes stat_4 {
    from {
        width: 0%;
    }
    to {
        width: 68%;
    }
}

@keyframes stat_4 {
    from {
        width: 0%;
    }
    to {
        width: 68%;
    }
}

@-webkit-keyframes stat_5 {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@keyframes stat_5 {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@-webkit-keyframes stat_6 {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

@keyframes stat_6 {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

@-webkit-keyframes stat_7 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes stat_7 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes stat_8 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes stat_8 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@-webkit-keyframes stat_9 {
    from {
        width: 0%;
    }
    to {
        width: 95%;
    }
}

@keyframes stat_9 {
    from {
        width: 0%;
    }
    to {
        width: 95%;
    }
}

@-webkit-keyframes stat_10 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes stat_10 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.projects {
    width: 50%;
}

.projects>h2 {
    color: #44d62c;
    font-weight: 400;
    font-size: 1.5em;
}

.projects i {
    color: #28aadc;
    font-weight: 300;
}

.projects span {
    color: #44d62c;
}

.projects>small {
    line-height: 2.5em;
}

.projects a {
    color: #44d62c;
    text-decoration: none;
    font-weight: bold;
}

.projects a:hover {
    font-weight: bold;
    color: #28aadc;
    text-decoration: none;
    box-shadow: 1px 1px 7px #CCCCCC;
    outline: 0 none;
    padding: 0 3px;
    margin: 0 -3px;
    border-radius: 5px;
}

.title,
.projects>h2,
.projects i,
.projects>small {
    padding-left: 22px;
}

.projects__list {
    font-size: 1em;
    margin-top: 0;
}

.clock {
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: #ccc;
    padding: 1rem 0 2.5rem;
    font-size: 0.9em;
    font-weight: bold;
}

/* ***************************** */

.importantMessage {
    margin: 10px 0;
    color: rgb(49, 49, 49);
    background-color: #e5e5e5;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #b2b2b2;
}

.importantMessage a {
    font-weight: bold;
    color: rgb(49, 49, 49);
}

/* ***************************** */

::-webkit-scrollbar {
    width: 10px;
    background-color: #2b2d2d;
}

::-webkit-scrollbar-thumb {
    background-color: #000;  
}

@media only screen and (max-width: 1315px) {
    .job {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .bio {
        padding: 0;
    }

    .bio__container {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .bio__avatar {
        padding-right: 0;
    }

    .job {
        width: 100%;
    }
}

@media only screen and (max-width: 1065px) {
    .bio {
        width: 38%;
    }
}

@media only screen and (max-width: 1000px) {
    .hide {
        display: block;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 50px 8% 55px 8%;
    }

    .bio {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
    }

    .bio__container {
        padding-bottom: 0;
    }

    .resume {
        width: 100%;
    }

    .bio__card {
        flex-direction: column;
    }
}

@media only screen and (max-width: 570px) {
    .stats__container {
        width: 100%;
    }

    .projects {
        width: 100%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 450px) {
    .stats {
        flex-direction: column;
        justify-content: center;
    }

    .bio__contact__methods {
        padding-left: 0;
    }

    .job__duties {
        width: 100%;
    }

    .job__duties__list {
        padding-left: 1.25rem;
    }

    .title {
        padding-left: 0;
        margin-top: 20px;
    }

    .job {
        flex-direction: column;
    }

    .projects>h2,
    .projects i,
    .projects>small {
        padding-left: 0;
    }

    .projects__list {
        padding-left: 1.25rem;
    }
}

@media only screen and (max-width: 330px) {
    .container {
        padding: 0;
    }

    .bio__contact {
        font-size: 1em;
    }

    .bio__contact__methods {
        padding-left: 0px;
    }

    .bio__contact__info {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 270px) {
    .bio__contact {
        font-size: 0.835em;
    }
}

@media only screen and (max-width: 220px) {
    .container {
        width: 228px;
    }

    .clock {
        width: 228px;
    }
}
